@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poor Story", cursive;
  font-size: 16px;
  background: linear-gradient(to right, #e9d362, #5f5f6d);
}

h1 {
  margin: 30px auto;
  font-size: 5rem;
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#memo {
  background-image: linear-gradient(
    89.4deg,
    rgb(141, 6, 33) 0.8%,
    rgb(8, 22, 61) 99.4%
  );
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-start,
.modal-win,
.modal-lose {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 5;
  display: none;
  flex-direction: column;
}

.display {
  display: flex;
}

.modal-text {
  color: whitesmoke;
}

.modal-restart {
  color: whitesmoke;
  font-size: 3rem;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 550px;
  margin: 0 auto;
  perspective: 500px;
}

.game-info-container {
  grid-column: 1/ -1;
  display: flex;
  justify-content: space-around;
}

.game-info {
  font-size: 3rem;
}

.card {
  width: 115px;
  height: 155px;
  position: relative;
  cursor: pointer;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
  border-radius: 0.5rem;
  border: 2px solid rgb(36, 36, 36);
}

.card-back {
  background: linear-gradient(to right, #222222, #5e5e5e);
}

.card-back-image {
  width: 70%;
  transition: all 0.3s ease-in-out;
}

.card-back:hover .card-back-image {
  transform: scale(1.2);
}

.card-front {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transform: rotateY(180deg);
  font-size: 3rem;
  z-index: -2;
}

.card-front-text {
  transition: all 0.3s ease-in-out;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.card.visible .card-back {
  transform: rotateY(-180deg);
  z-index: -1;
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card-front-image {
  width: 70%;
}

.card.visible .card-front-text {
  animation: move 5s linear 1s infinite;
}

@keyframes move {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
}
